[Desktop Entry]
Type=Application
Name=OpenCV Eye Detection Demo
Comment=Demo of OpenCV Eye Detection
Icon=${SNAP}/meta/gui/icon.png
Exec=opencv-demo.eyedetect
Terminal=false
Categories=Utility;
